# 관계 연산자

In [1]:
num1 = 100
num2 = 20

In [2]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

### 논리 연산자

In [3]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [5]:
# 부정 연산자
num1 >= 50

True

In [6]:
not(num1 >= 50)

False

In [7]:
# OS 명령어 사용
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb
계절별 교통사고 발생, 부상, 사망자수에 대한 분석.ipynb

In [8]:
# 문자열
var01 = "Hello World!"
var01

'Hello World!'

In [10]:
var01 = """
    Hello World!
    12345
    찌나생일축하해
    Happy BirthDay
"""
var01
print(var01)

    Hello World!
    12345
    찌나생일축하해
    Happy BirthDay

In [11]:
# 쌍따옴표ㅕ와 홀따옴표의 사용
var01 = "My father's wife is my mother."
var02 = 'He says "I love you."'
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you."

In [14]:
# 문자열 연산(덧셈)
var01 = "Python"
var02 = "is fun."

print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [15]:
#문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [17]:
print("=" * 20)
print("Python")
print("=" * 20)

====================
Python
====================

In [23]:
# 문자열 indexing과 Slicing
str = "abcdefghijklmn"

print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[0]+str[1]+str[2])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [37]:
str = "20221229Snow"
year = str[0:4]
day = str[4:8]
weather = str[8:15]
weather = str[-4:]

print(year, day, weather)
# 2022 1229 Snow

2022 1229 Snow

In [52]:
str = "abbde"

print(str[:2] + "c" + str[3:])
# abcde 는 String이라서 List랑 헬갈리지 말것

abcde

### 문자열 formatting

In [54]:
print("I have %d apples."%2)
print("I have %s apples."%"two")

I have 2 apples.
I have two apples.

In [58]:
number = 2
fruit = "apples"
print("I have %02d %s."%(number,fruit))

# 02d 는 숫자를 맞추기 위함임.

I have 02 apples.

In [59]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [63]:
print("%0.4f"%3.141592)
print("%10.4f"%3.141592)
# 숫자 정렬할 때도 쓴다 .

3.1416
    3.1416

### 문자열 관련 함수

In [65]:
# 문자 Count
str = "I have a dream."
print(str.count('a'))
print(len(str))

3
15

In [73]:
# 문자 위치 알려주기
print(str.find('a'))
print(str.index('a'))
print(str.find('x'))

3
3
-1

In [70]:
str.find('e')

5

In [71]:
str[str.find('e')]

'e'

In [75]:
# 문자열 삽입
str = ","
str.join('abcde')

'a,b,c,d,e'

In [76]:
# 소문자를 대문자로
str = "hi"
str.upper()

'HI'

In [77]:
#대문자를 소문자로
str = "HI"
str.lower()

'hi'

In [84]:
# 공백 지우기
str = '       hi'
str.lstrip()

'hi'

In [80]:
str = 'hi     '
str.rstrip()

'hi'

In [81]:
str='     hi   '
str.strip()

'hi'

In [82]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy,'

In [90]:
# 문자열 나누기
str01 = 'Life is too short to be happy.'

list01 = str01.split()
type(list01)
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [91]:
len(list01)

7

In [92]:
# 왜그런지 모르겠지만 브라질에서 오는 데이터가 이렇게 생겼다고한다. 
str02 = 'a:b:c:d'
str02.split(':') # : 를 기준으로 나눈다

['a', 'b', 'c', 'd']

### 고급 문자열 Formatting

In [93]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [94]:
"I have {0} apple.".format("three")

'I have three apple.'

In [96]:
number = 10
day = 'three'
"I have {0} apples, I wi;; go abord for {1} days.".format(number, day)

'I have 10 apples, I wi;; go abord for three days.'

In [97]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [99]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [101]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [103]:
# 공백 채우기
'{0:=^10}'.format("hi")

'====hi===='

In [104]:
# f문자열 formatting(Python 3.6이상 사용 가능)
name = '홍길동'
age = 30
f'나의 이름은 {name}이고 나이는 {age}세 입니다. '

'나의 이름은 홍길동이고 나이는 30세 입니다. '

In [106]:
f'나는 내년이면 {age+1}살 입니다. '

'나는 내년이면 31살 입니다. '

### 날짜형 변환

In [107]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [115]:
time1 = datetime(2022, 8, 10, 18, 0, 0, 0)
print(time1)

2022-08-10 18:00:00

In [116]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:16:58.160262
49 days, 1:43:01.839738

In [117]:
# 좀 더 편리하게 출력
print(time1 - time2)

49 days, 1:43:01.839738

In [118]:
# 날짜만 출력
print((time1 - time2).days, '일')
print((time1 - time2).seconds, '초')

49 일
6181 초

In [120]:
# 시간으로 확인하기
import math
(time1 - time2).days * 24 + math.floor ((time1 - time2).seconds / 60 / 60)

1177

In [122]:
# 특정 날짜로부터 시간 계산
time2 + timedelta(days=-3)

datetime.datetime(2022, 6, 19, 16, 16, 58, 160262)

In [124]:
time2 + timedelta(days=1, hours=2)

datetime.datetime(2022, 6, 23, 18, 16, 58, 160262)