In [1]:
range(1, 11)

range(1, 11)

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0, 11, 2))
#0부터 11까지 2개씩 증가하면서 쓰겠다.

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [5]:
list(range(0, 10, -2))

[]

In [6]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
# 1에서 10까지의 제곱근을 출력하기
import math

for i in range(1, 11):
   print("%2d : %.8f"%(i,math.sqrt(i)))

# 정수 %d는 몇자릿수를 넣어주겠다. f는 실수이고, 몇자리까지 보여줄지.

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [8]:
# 구구단 9단 출력
i = 9
for j in range(1, 10):
    print(i, "X", j, "=", "%2d"%(i*j))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [9]:
# 구구단 결과만 출력하기
for i in range(2, 10):
    for j in range(1, 10):
        print("%2d"%(i*j), end=' ')
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [10]:
# for문에 Tuple 사용하기
var = [(1,2), (3,4), (5,6)]

for first, last in var:
    print(first, ":", last)

1 : 2
3 : 4
5 : 6

총 5명의 학생이 시험을 보았는데, 시험 점수가 60점을 넘으면 합격이고
그렇지 않으면 불합격이다.
합격, 불합격 보여주기

In [11]:
scores = [90, 25, 67, 45, 80]

# for number in range(len(scores)):
#     if scores >= 60:
#         print("%d의 학생은 합격입니다.")
#     else:
#         print("%d의 학생은 불합격 입니다.")

In [12]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] >= 60:
        print("%d의 학생은 합격입니다."%scores[number])
    else:
        print("%d의 학생은 불합격입니다." % scores[number])

90의 학생은 합격입니다.
25의 학생은 불합격입니다.
67의 학생은 합격입니다.
45의 학생은 불합격입니다.
80의 학생은 합격입니다.

In [13]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    print("%d 학생은 %2d 점 이므로 합격입니다" % (number+1, scores[number])) if scores[number] >= 60 else print(
        "%d 학생은 %2d 점 이므로 불합격입니다" % (number+1, scores[number]))

1 학생은 90 점 이므로 합격입니다
2 학생은 25 점 이므로 불합격입니다
3 학생은 67 점 이므로 합격입니다
4 학생은 45 점 이므로 불합격입니다
5 학생은 80 점 이므로 합격입니다

학생들 점수의 평균을 구하여 평균점수 보다 낮으면 불합격
평균점수보다 같거나 높으면 합격을 위의 출력과 같이 보여주기

In [14]:
scores = [90, 25, 67, 45, 80]
number = 0

for score in scores:
    number+=1
    print(f"{number}의 학생은 점수가 {score} {'이므로 합격' if score > 60 else '불합격'}입니다.")

#format의 f를 써서 이렇게 나타내줄 수 있음.

1의 학생은 점수가 90 이므로 합격입니다.
2의 학생은 점수가 25 불합격입니다.
3의 학생은 점수가 67 이므로 합격입니다.
4의 학생은 점수가 45 불합격입니다.
5의 학생은 점수가 80 이므로 합격입니다.

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90 이므로 합격입니다.
2의 학생은 점수가 25 이므로 불합격입니다.
3의 학생은 점수가 67 이므로 합격입니다.
4의 학생은 점수가 45 이므로 불합격입니다.
5의 학생은 점수가 80 이므로 합격입니다.

In [15]:
import numpy as np

scores = [90, 25, 67, 45, 80]
number = 0


print(f"학급의 평균 점수는 %.2f 입니다. \n"%(np.mean(scores)))
for score in scores:
    number += 1
    print(f"{number}의 학생은 점수가 {score} {'이므로 합격' if score >= np.mean(scores) else '이므로 불합격'}입니다.")

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90 이므로 합격입니다.
2의 학생은 점수가 25 이므로 불합격입니다.
3의 학생은 점수가 67 이므로 합격입니다.
4의 학생은 점수가 45 이므로 불합격입니다.
5의 학생은 점수가 80 이므로 합격입니다.

1의 학생은 합격입니다.
3의 학생은 합격입니다.
5의 학생은 합격입니다.

In [16]:
scores = [90, 25, 67, 45, 80]
number = 0

for score in scores:
    number += 1
    if  score >= np.mean(scores):
        print(f"{number}의 학생은 합격 입니다.")

1의 학생은 합격 입니다.
3의 학생은 합격 입니다.
5의 학생은 합격 입니다.

# 문제

합격자 번호
---------
    1
    3   
    5

In [37]:
scores = [90, 25, 67, 45, 80]
number = 0
list = []
# for score in scores:
#     number += 1
#     if score >= np.mean(scores):
#        print(f"   {number}   ")
# print("합격자 번호 \n---------\n")

for score in scores:
    number += 1
    if score >= np.mean(scores):
        list.append(number)

print("합격자 번호 \n--------")
for i in list:
    print("{:^10}".format(i))

    # 10칸 중에 가운데. format(i) -- >이따가 설명해준대

합격자 번호
--------
    1
    3
    5

---
# 문장과 단어 추출

In [38]:
string = """나는 박상어 입니다.
주소는 서울시 입니다.
나이는 30세 입니다."""

In [39]:
string

'나는 박상어 입니다.\n주소는 서울시 입니다.\n나이는 30세 입니다.'

In [41]:
# 문단 -> 문장
sents = [] # 문장 저장
words = [] # 단어 저장 
for sen in string.split('\n'):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

print(sents)
print(words)

['나는 박상어 입니다.', '주소는 서울시 입니다.', '나이는 30세 입니다.']
['나는', '박상어', '입니다.', '주소는', '서울시', '입니다.', '나이는', '30세', '입니다.']

In [43]:
# 1. var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기

# var01 * 5 -> NOPE

var01 = [1,2,3,4]
var02 = []

for i in var01:
    var02.append(i * 5)

var02

[5, 10, 15, 20]

In [45]:
# 2. var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기 (많이 쓰는 포맷)

var01 = [1, 2, 3, 4]
var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [49]:
# var01의 데이터가 짝수인 경우에만 5를 곱하여 var02 list 만들기

var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 if i % 2 ==0]
var02

[10, 20]

In [56]:
# 구구단 결과만 리스트로 만들기

dan = [i * j for i in range(2,10) for j in range(1,10)]

print(dan, end=" ")

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [64]:
# 60점 이상의 학생 점수만 리스트로 만들어서 평균 출력하기(list for문 사용)
scores = [90, 25, 67, 45, 80]

passStudent = [i for i in scores if i >= 60]

print("합격한 학생들의 평균 점수는 %.2f입니다."%(np.mean(passStudent)))

합격한 학생들의 평균 점수는 79.00입니다.