---
# 파일 읽고 쓰기

In [1]:
# 파일을 쓰기 모드로 열어 출력값 저장하기

f = open("../Data/new.txt","w")
for i in range(1, 11):
    data = "%d번째 줄 입니다. \n"%i
    f.write(data)
f.close()

In [3]:
# 파일을 읽기모드로 열어 파일 내용 출력하기 : #1
f = open("../Data/new.txt","r")
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [5]:
# 파일을 읽기모드로 열어 파일 내용 출력하기 : #2
f = open("../Data/new.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)
f.close

1번째 줄 입니다.

2번째 줄 입니다.

3번째 줄 입니다.

4번째 줄 입니다.

5번째 줄 입니다.

6번째 줄 입니다.

7번째 줄 입니다.

8번째 줄 입니다.

9번째 줄 입니다.

10번째 줄 입니다.

In [6]:
# 파일을 읽기모드로 열어 파일 내용 출력하기 : #2
f = open("../Data/new.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

In [7]:
# 파일에 새로운 내용 추가하기
f = open("../Data/new.txt", 'a')
    data = f.read()
    print(data)
    f.close()

IndentationError: unexpected indent (2489882308.py, line 3)

In [ ]:
# with문

In [8]:
# 파일 만들기
with open("../Data/new3.txt",'w') as f:
    for i in range(1, 11):
        data = "%d번째 줄 입니다. \n"%i
        f.write(data)

In [9]:
# 파일 읽기
with open("../Data/new3.txt", 'r') as f:
    data = f.read()
    print(data)

1번째 줄 입니다.
2번째 줄 입니다.
3번째 줄 입니다.
4번째 줄 입니다.
5번째 줄 입니다.
6번째 줄 입니다.
7번째 줄 입니다.
8번째 줄 입니다.
9번째 줄 입니다.
10번째 줄 입니다.

----
# Pandas로 불러오기

In [10]:
import pandas as pd

In [13]:
# txt file 불러오기
txtSample = pd.read_table("../Data/new.txt", header = None)

In [14]:
txtSample.head()

             0
0  1번째 줄 입니다.
1  2번째 줄 입니다.
2  3번째 줄 입니다.
3  4번째 줄 입니다.
4  5번째 줄 입니다.

In [15]:
# txt file로 저장하기
txtSample.to_string("../Data/sample_file.txt", index=False, header=None)

In [16]:
pd.read_table("../Data/sample_file.txt", header=None)

              0
0   1번째 줄 입니다.
1   2번째 줄 입니다.
2   3번째 줄 입니다.
3   4번째 줄 입니다.
4   5번째 줄 입니다.
5   6번째 줄 입니다.
6   7번째 줄 입니다.
7   8번째 줄 입니다.
8   9번째 줄 입니다.
9  10번째 줄 입니다.